.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  margin: 10px;

  /* background: #f7f4ed; */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #181b22;
  /* border-radius: 100vh; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a09fa7;
}
